@import url("https://fonts.googleapis.com/css2?family=Montserrat");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat", sans-serif;
  background-image: linear-gradient(
    to right bottom,
    /* #f3f4f8,
    #f3f4f8,
    #d9e1ff,
    #ffc6c9,
    #c3cdf0,
    #c3cdf0,
    #c3cdf0,
    #d9e1ff,
    #ffffff,
    #d9e1ff,
    #ffa8ae */
    #ffffff,
    #ffffff,
    #f5e8fa,
    #f5e8fa,
    #ffb7bc,
    #f5e8fa,
    #fbfbfb,
    #e5e1f1,
    #deddec,
    #c4c4de,
    #a9add0,
    #a9add0,
    #a9add0,
    #ffabc2
  );
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  min-height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  min-height: calc(var(--vh, 1vh) * 100);
}

.custom-gradient {
  background: linear-gradient(
    to right top,
    #ffffff,
    #ffffff,
    #f5e8fa,
    #f5e8fa,
    #f9d0d3,
    #f5e8fa,
    #fbfbfb,
    #fbfbfb,
    #e7e7f1,
    #dbddee,
    #ffabc2
  );
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
